{% extends "base.html" %}

{% block content %}
{% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/buy.css' %}"/>

<h2>{{ api.longName }}</h2>
    </br>
    <body>
        <div class="p-3 border" text="center">
            <form> {% csrf_token %}
                <h5 class="specific">Portfolio Cash: {{ cash }}</h5>
                </br>
                <h5>Stock Price: {{ api.currentPrice }}</h5>
                <h5>*</h5>
                <div class="inline-group inline">
                    <h5>Number of Shares to Buy:
    {#                    <input type="text" id="lname" name="lname">#}
                    <div id="incdec">
                        <input class="updown" type="number" value="0" />
                    </div>
                    </h5>
                </div>

            </form>
            <h5>= </h5>
            <h5>Total Cost: </h5>

            <script>
                $("input").change(function(){
                  alert("The text has been changed.");
                });
                $(document).ready(function(){
                $("#up").on('click',function(){
                    $("#incdec input").val(parseInt($("#incdec input").val())+1);
                });

                $("#down").on('click',function(){
                    if(parseInt($("#incdec input").val())!=0) {
                        $("#incdec input").val(parseInt($("#incdec input").val()) - 1);
                    }
                });

                });
            </script>

        </div>
    </body>
{# <form action ="{% url 'buy' %}" class="d-flex" role="search" method="POST">#}
{# This calls the buy method in view and you can extract the data using a post#}
{#  {% csrf_token %}#}
{#  <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search" name="ticker">#}
{#  <button class="btn btn-outline-secondary form-control me-1 bg-dark text-light" type="submit">Search Stock</button>#}
{#</form>#}
{##}
{% endblock %}