{% extends "base.html" %}

{% block content %}

<h1>{{ api.longName }}</h1>
    </br>
    <body>
        <div class="p-3 border" text="center">
            <form> {% csrf_token %}
                <h3>Price: {{ api.currentPrice }}</h3>
                <h3>*</h3>
                <h3>Shares: <input type="text" id="lname" name="lname"> </h3>
            </form>
        </div>
    </body>


{# <form action ="{% url 'buy' %}" class="d-flex" role="search" method="POST">#}
{# This calls the buy method in view and you can extract the data using a post#}
{#  {% csrf_token %}#}
{#  <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search" name="ticker">#}
{#  <button class="btn btn-outline-secondary form-control me-1 bg-dark text-light" type="submit">Search Stock</button>#}
{#</form>#}
{##}
{% endblock %}