{% extends "base.html" %}

{% block content %}

<h1>Dashboard</h1>

<br/>
    <h3>Total Cash: {{ portfolio.cash }} </h3>
    <br/>
            <table class="table table-striped table-bordered table-hover">
               <thead class="table-dark">
                <tr>
                  <th scope="col">Stock Name</th>
                  <th scope="col">Shares Owned</th>
                  <th scope="col">Total Cost</th>
                  <th scope="col">Price of Stocks when bought</th>
                  <th scope="col">Profit/Loss</th>
                  <th scope="col">Total Return</th>
                </tr>
              </thead>
              <tbody>
              {% for stock in stocks %}
                    <tr>
                        <th scope="row"> {{ stock.name }}</th>
                        <td>{{ stock.stocksOwned }}</td>
                        <td>${{ stock.stocksOwned }}</td>
                        <td>${{ stock.stocksOwned }}</td>
                        <td>${{ stock.stocksOwned }}</td>
                        <td>${{ stock.stocksOwned }}</td>
                    </tr>
              {% endfor %}
              </tbody>
            </table>
            <br/>


{% endblock %}